MYSQL_DATABASE=se_project
MYSQL_ROOT_PASSWORD=jwdyszm0220
REDIS_PASSWORD=jwdyszm0220
FRONTEND_PORT=80
TREEHOLE_AUTH_MOCK_EMAIL_ENABLED=false
TREEHOLE_MAIL_HOST=smtp.qq.com
TREEHOLE_MAIL_PORT=587
TREEHOLE_MAIL_USERNAME=2953695254@qq.com
TREEHOLE_MAIL_PASSWORD=xpmdhbwnkrkidfei
TREEHOLE_MAIL_SMTP_AUTH=true
TREEHOLE_MAIL_SMTP_STARTTLS=true
TREEHOLE_MAIL_SMTP_SSL_TRUST=smtp.qq.com
